@import "node_modules/nhsuk-frontend/packages/nhsuk";

.main-content {
  display: flex;
}

.image-fullwidth {
  width: 100%;
}

.permenant-menu {
  margin-right: 20px;
}

pre {
  font-size: 14px;
  margin-bottom: 30px;
}

.app-pane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 0;
  overflow: inherit;
  position: relative;
}

@media (max-width: 48.0525em) {
  .app-pane {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: left;
  }
}

.app-pane__side-bar {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  width: 200px;
}

.app-side-nav__item {
  padding-bottom: 4px;
  padding-top: 4px;
}

.app-side-nav__item--current {
  border-left: 4px solid #005eb8;
  margin-left: -12px;
  padding-left: 8px;
}
